<div id="form-select">
  <%= form_tag("/display", method: "post") do %>
    <%= text_field_tag(:term1) %>
    <%= text_field_tag(:term2) %>
    <%= submit_tag("Discover") %>
  <% end %>
</div>

<div id="scatter-plot">

</div>

<div id="bar graphs">

</div>


<div id="numbers">

</div>
