<h1 id="toptop">This will be our About Page.</h1>
<h1>Stuff here, testing</h1>

  <%# for (var prop in window.restaurant_average_score) { %>
  <%#   tmp = {}; %>
  <%#   tmp['x'] = prop; %>
  <%#   tmp['y'] = window.restaurant_average_score[prop]; %>
  <%#   items.push(tmp); %>
  <%# } %>
<%# <%= javascript_include_tag "https://d3js.org/d3.v4.min.js" %1> %>
<form id="form1">
  <select name="fname">
    <option value="Graffiti Complaints">Graffiti Complaints</option>
    <option value="Heating Complaints">Heating Complaints</option>
    <option value="Illegal Parking Complaints">Illegal Parking Complaints</option>
    <option value="Noise Complaints">Noise Complaints</option>
    <option value="Restaurant Average Score">Restaurant Average Score</option>
    <option value="Streetlight Complaints">Streetlight Complaints</option>
    <option value="Amount Of Trees">Amount Of Trees</option>
  </select>
  <select name="typeofsort">
    <option value="zipcode">Sort by Zipcode</option>
    <option value="value">Sort by Value</option>
  </select>
  <button type="submit" form="form1" value="Submit">Click Me!</button>
  <%= button_to "Refresh",  { controller: "about",action: "index"}, method: :get, data: { confirm: "All your fancy graphs will be gone! Are you sure?" } %>
</form>



<meta charset="utf-8">

<style>

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: black;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff; 
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}

.graphytitle {
  text-align: center;
}

.myanchors {
  float: right;
}
</style>
<%= javascript_include_tag "d3.v3.min.js" %>
 
<div id="graphy">
  
</div>
