<h1>This will be our About Page.</h1>
<h1>Stuff here, testing</h1>

  <%# for (var prop in window.restaurant_average_score) { %>
  <%#   tmp = {}; %>
  <%#   tmp['x'] = prop; %>
  <%#   tmp['y'] = window.restaurant_average_score[prop]; %>
  <%#   items.push(tmp); %>
  <%# } %>
<div id="visualization"></div>

