// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // background-color: #0086b3;
  background-color: #fff;
}

body text {
  color: white;
}

.graphytitle {
  text-align: center;
}

#chart svg {
  height: 400px;
}

.bg-lblue {
  background-color: #FFF3E0 !important;
}

.linechart {
	background-color: #FFF3E0 !important;
}

.marginTop5 {
	margin-top: 5px;
}

.btn.btn-brown {
	background: #d08166;
	color: #ffffff;
	border: 1px solid #c4613f;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
	background: #c4613f;
	color: #ffffff;
}