// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#floatingbottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

header#myheader {
    text-align: center;
    font-size: 3em;
    width: 100%;       /* use something sensible as the default value */
}

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: #33A1FD;
}

.bar text.value {
  fill: black;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
>>>>>>> fa0d44bba1e89c282432b704d5b0bc31af8254d2
}

.y.axis path {
  stroke: black;
}

.graphytitle {
  text-align: center;
}

.myanchors {
  float: right;
}
