@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700');
body {
	color: white;
	font-size: 13px;
	line-height: 23px;
	font-family: 'Open Sans', sans-serif;
  font-size: 13px;
	-webkit-font-smoothing: antialiased;
}

#chart svg {
  height: 400px;
}

/*.bg-yellow {
	background-color: #fcfaf2 !important;
}*/

.marginTop5 {
	margin-top: 5px;
}
.marginTop20 {
	margin-top: 20px;
}
.marginLeft20 {
  margin-left: 150px;
}
.btn.btn-brown {
	background: #5D2E46;
	color: #ffffff;
	border: 1px solid #5D2E46;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
	background: #673AB7;
	color: #ffffff;
}


#aboutview .bg {
  background-color: #A53D2B !important;
  background-size: cover;
}

select {
  color: black;
}


.hide {
	display: none;
}

/*.bg-blue {
  background-color: #fcfaf2 !important;
}*/


.arrow {
  position: absolute;
  padding: 1.5rem; /* Arrow size */
          box-shadow: 1px -1px 0 1px crimson inset;
  -webkit-box-shadow: 2px -2px crimson inset;
  border: solid transparent;
  border-width: 0 0 3rem 3rem;
  transition: 0.2s;
}

.arrow:hover {
          box-shadow: 2px -2px 0 2px orchid inset;
  -webkit-box-shadow: 4px -4px orchid inset;
}

.arrow-up    { transform:rotate(135deg) }
.arrow-right { transform:rotate(225deg) }
.arrow-down  { transform:rotate(-45deg) }
.arrow-left  { transform:rotate(45deg) }




/* Pie Chart */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


#chartsvg {
  width: 500px;
  height: 500px;
  margin: 0 auto;

   text.middle {
    font-family: Lato;
    font-weight: 300;
    font-size: 24px;
  }
  
  .nvd3.nv-pie .nv-pieLabels text {
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    fill: #fff !important;
  }

  g.nv-slice {
  	color: white;
  }
}




